.eye_catch {
  position: relative;
  img {
    width: 100vw;
    max-width: 1024px;
  }

  .login_form {
    font-size: 0.8rem;
    position: absolute;
      right: 10%;
      top: 40%;
    .fa-envelope {margin-right: 5px;}
    .fa-key {margin-right: 5px;}

    .field {
      margin-bottom: 10px;
    }

    .error_message {
      color: #ff0000;
      font-size: 0.7rem;
      text-align: right;
      margin-bottom: 10px;
    }

    .actions {
      text-align: right;
    }
  }
}

.regist_form {
  width: 90%;
  margin: 0 auto;

  &__input {
    margin-bottom: 16px;
    p {
      font-size: 0.9rem;
      margin-bottom: 4px;
    }

    &__input-name {
      display: flex;
      flex-direction: row;
      &--half {
        width: 10.0em;
      }

      &--small {
        font-size: 0.8rem;
      }
    }
  }
}