@mixin sign_btn {
  background-color: #fafafa;
  width: 125px;
  height: 30px;
  color: #000000;
  font-size: 1.0rem;
  text-align: center;
  line-height: 30px;
  border-radius: 100px;
  box-shadow: 0 2px #eeeeee;
  margin-bottom: 5px;
  &:active {
    box-shadow: none;
    position: relative;
      top: 2px;
  }
}

.eye_catch {
  margin-bottom: 30px;
  img {
    width: 100vw;
    max-width: 1024px;
  }
}

.side_bar {
  background-color: #fafafa;
  width: calc(100% - 690px);
  height: 500px;
  float: left;

  &__user {
    background-color: #eeeeee;
    width: 80%;
    font-size: 1.0rem;
    margin: 0 auto;
  }

  .mypage_btn {
    @include sign_btn;
  }
}

.content {
  display: flex;
    justify-content: flex-end;
  .coodinate_box {position: relative;}

  .margin_right {margin-right: 30px;}
  .coordinator {
    width: calc(300px * 0.7);
    img {width: calc(300px * 0.7);}
    p {
      width: 106.5px;
      color: #000000;
      font-size: 0.8rem;
      line-height: 15px;
      .tall {
        font-size: 0.7rem;
        display: flex;
          justify-content: flex-end;
      }
    }
    &:hover {opacity: 0.9;}
  }

  .nominate {
    background-color: #fafafa;
    width: 60px;
    height: 25px;
    color: #000000;
    font-size: 0.8rem;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    box-shadow: 0 2px #eeeeee;
    position: absolute;
      right: 30px;
      bottom: 3px;
    &:active {
      box-shadow: none;
      position: absolute;
        right: 30px;
        bottom: 1px;
    }
  }

  .nominate_right {
    background-color: #fafafa;
    width: 60px;
    height: 25px;
    color: #000000;
    font-size: 0.8rem;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    box-shadow: 0 2px #eeeeee;
    position: absolute;
      right: 0px;
      bottom: 3px;
    &:active {
      box-shadow: none;
      position: absolute;
        right: 0px;
        bottom: 1px;
    }
  }
}