.container {
  margin-top: 32px;

  .col-sm-3 {
    .user_title {
      width: 100%;
      font-size: 0.9rem;
      border-left: solid 5px #f4f4f4;
      border-bottom: solid 1px #f4f4f4;
      padding-bottom: 4px;
      margin: 0 auto 5px;
      .fa-user {margin: 0 0.5em;}
    }

    .user_btn {
      width: 70%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      &__left {
        
      }

      button {
        font-size: 0.8rem;
        padding: 3px 5px;
      }

      .fa-user-plus {margin-right: 5px;}
      .fa-sign-out-alt {margin-right: 5px;}
      .fa-sign-in-alt {margin-right: 5px;}
    }
  }

  .col-sm-9 {
    h2 {
      width: 90%;
      font-size: 1.5rem;
      font-weight: bold;
      padding-bottom: 4px;
      margin: 0 auto 16px;
      border-left: solid 5px #f4f4f4;
      border-bottom: solid 1px #f4f4f4;
      display: block;

      .fa-female {margin: 0 0.5em;}
      .fa-male {margin: 0 0.5em;}
    }

    #coodinators {
      width: 80%;
      margin: 0 auto 48px;
      display: flex;
      justify-content: space-between;

      .coodinator {
        .img-thumbnail {
          width: 200px;
        }

        &__btn {
          display: flex;
          justify-content: flex-end;

          &--left {
            margin-right: 1px;
          }

          button {
            width: 60px;
            font-size: 0.8rem;
            padding: 0px;
          }
        }
      }
    }
  }
}











.side_bar {
  background-color: #fafafa;
  width: calc(100% - 690px);
  height: 500px;
  float: left;

  &__user {
    background-color: #eeeeee;
    width: 80%;
    font-size: 1.0rem;
    margin: 0 auto;
  }

  .mypage_btn {
    @include sign_in-out;
  }
}

.content {
  display: flex;
    justify-content: flex-end;
  .coodinate_box {position: relative;}

  .margin_right {margin-right: 30px;}
  .coordinator {
    width: calc(300px * 0.7);
    img {width: calc(300px * 0.7);}
    p {
      width: 106.5px;
      color: #000000;
      font-size: 0.8rem;
      line-height: 15px;
      .tall {
        font-size: 0.7rem;
        display: flex;
          justify-content: flex-end;
      }
    }
    &:hover {opacity: 0.9;}
  }

  .nominate {
    background-color: #fafafa;
    width: 60px;
    height: 25px;
    color: #000000;
    font-size: 0.8rem;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    box-shadow: 0 2px #eeeeee;
    position: absolute;
      right: 30px;
      bottom: 3px;
    &:active {
      box-shadow: none;
      position: absolute;
        right: 30px;
        bottom: 1px;
    }
  }

  .nominate_right {
    background-color: #fafafa;
    width: 60px;
    height: 25px;
    color: #000000;
    font-size: 0.8rem;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    box-shadow: 0 2px #eeeeee;
    position: absolute;
      right: 0px;
      bottom: 3px;
    &:active {
      box-shadow: none;
      position: absolute;
        right: 0px;
        bottom: 1px;
    }
  }
}