@import "mixin/mixin";
@import "modules/index";
@import "modules/devise";
@import "modules/register";

body {
  font-family: "Sawarabi Gothic";
  a {@include LinkColor(#1a0dab);}

  header {
    img {
      width: 150px;
      height: 50px;
      margin: 8px 0;
    }

    .user_btn {
      height: 50px;
      padding-top: 5px;
      margin: 8px 0;
      float: right;

      .fa-user-plus {margin-right: 5px;}
      .fa-sign-out-alt {margin-right: 5px;}
      .fa-sign-in-alt {margin-right: 5px;}
    }

    .Navigation_Menu {
    }
  }
}